Downloads/
lecNote/
T/
.ipynb_checkpoints/
__pycache__/
.vscode/
.venv/
.vs/
.env
IDE/



Jupyter Notebook.lnk
Visual Studio Code.lnk
Visual Studio.lnk
Get Started With Oracle Database 11g Express Edition.lnk
eXERD.lnk